<div fxLayout fxLayoutAlign="center center">
<mat-divider></mat-divider>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ user?.msg?.firstName }} {{ user?.msg?.lastName }}</mat-card-title>
      <mat-card-subtitle>{{user?.msg?.email}}</mat-card-subtitle>
    </mat-card-header>
    <img width="50%" height="60%" mat-card-image src="https://www.shareicon.net/data/512x512/2016/09/15/829453_user_512x512.png" alt="Photo of user">
    <mat-card-content>
      <p>
        Lorem Ipsum is simply dummy text of the printing and 
        typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown 
        printer took a galley of type and scrambled it to make a type 
        specimen book. 
      </p>
    </mat-card-content>
    <mat-card-actions>
        <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [(ngModel)]="checked"
            [checked]="checked"
            [disabled]="disabled"
            (change)="toggle2FA($event)">
        Enable 2FA
        </mat-slide-toggle>
    </mat-card-actions>
</mat-card>
</div>
<mat-divider></mat-divider>
<br>
<div *ngIf="tfa" fxLayout fxLayoutAlign="center center">
  <mat-divider></mat-divider>
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ tfa.tempSecret }}</mat-card-title>
        
      </mat-card-header>
      <img [src]="tfa.dataURL" alt="" class="img-thumbnail" style="display:block;margin:auto">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
          
      </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>
  </div>
