<form [formGroup]="signupForm" (ngSubmit)="register()" autocomplete="false" novalidate>
    <div class="inputGroup inputGroup1">
      <label for="email1">Email</label>
      <input type="text" id="email" name="email" formControlName="email" class="email" maxlength="256" required/>
      <p class="helper helper1">email@domain.com</p>
      <span class="indicator"></span>
      <div *ngIf="fc.email.errors && (fc.email.touched)">
          <div *ngIf="fc.email.errors.required">
              <mat-error [hidden]="!fc.email.errors.required && fc.email.dirty">Email is required</mat-error>
          </div>
          <div *ngIf="fc.email.errors.email">
              <mat-error [hidden]="!fc.email.errors.email">Email is invalid</mat-error>
          </div>   
      </div>
    </div>
    <div class="inputGroup inputGroup2">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" formControlName="password" class="password" required/>
      <div *ngIf="fc.password.errors && (fc.password.touched)">
        <div *ngIf="fc.password.errors.required">
            <mat-error [hidden]="!fc.password.errors.required && fc.password.dirty">Password is required</mat-error>
        </div>
        <div *ngIf="fc.password.errors.pattern">
            <mat-error [hidden]="!fc.password.errors.pattern">
                <ul style="list-style-type:square;">
                  <li>Password must be at least 12 characters</li>
                  <li>At least 1 special character</li>
                  <li>At least 1 alphabet is uppercase</li>
                  <li>Mandatory to have at least one number</li>
                </ul>
            </mat-error>
        </div>   
      </div>
    </div>
    <div class="inputGroup inputGroup2">
        <label for="password">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" class="password" required/>
        <div *ngIf="fc.confirmPassword.errors && (fc.confirmPassword.touched)">
          <div *ngIf="fc.confirmPassword.errors.required">
              <mat-error [hidden]="!fc.confirmPassword.errors.required && fc.confirmPassword.dirty">Confirm password is required</mat-error>
          </div>
      </div>
    </div>
    <div class="inputGroup inputGroup1">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" formControlName="firstName" class="firstName" maxlength="256" required/>
        <p class="helper helper1">Kenneth</p>
        <span class="indicator"></span>
        <div *ngIf="fc.firstName.errors && (fc.firstName.touched)">
            <div *ngIf="fc.firstName.errors.required">
                <mat-error [hidden]="!fc.firstName.errors.required && fc.firstName.dirty">First name is required</mat-error>
            </div>
        </div>
      </div>
      <div class="inputGroup inputGroup1">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" formControlName="lastName" class="lastName" maxlength="256" required/>
        <p class="helper helper1">Phang</p>
        <span class="indicator"></span>
        <div *ngIf="fc.lastName.errors && (fc.lastName.touched)">
            <div *ngIf="fc.lastName.errors.required">
                <mat-error [hidden]="!fc.lastName.errors.required && fc.lastName.dirty">Last name is required</mat-error>
            </div>
        </div>
      </div>
    <div class="inputGroup inputGroup3">
      <button id="singUp" type="submit" [disabled]="signupForm.invalid">Sign Up</button>
    </div>
  </form>
